<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClinicManagementSystem</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ClinicManagementSystem.styles.css" asp-append-version="true" />
</head>

<body>

    <!-- TOP HEADER -->
    <nav class="navbar navbar-dark custom-bg">
        <h4 class="ms-3 text-white mb-0">Pharmacist Dashboard</h4>
    </nav>

    <!-- MAIN NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">

                <!-- LEFT SIDE -->
                <div>
                    <a class="btn btn-light me-2"
                       asp-controller="Pharmacist"
                       asp-action="Index">
                        Pending Prescriptions
                    </a>
                    

                    <a class="btn btn-light me-2"
                       asp-controller="Pharmacist"
                       asp-action="MedicineTypeList">
                        Medicine Type List
                    </a>

                    <a class="btn btn-light me-2"
                       asp-controller="Pharmacist"
                       asp-action="ViewMedicines">
                        Medicine List
                    </a>

                </div>

                <!-- RIGHT SIDE -->
                <div class="ms-auto">

                    <a class="btn btn-danger ms-auto"
                       asp-controller="Pharmacist"
                       asp-action="Logout">
                        Logout
                    </a>

                </div>

            </div>
        </div>
    </nav>

    <!-- PAGE BODY -->
    <div class="container mt-3">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <!-- SCRIPTS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    @RenderSection("Modals", required: false)

</body>
</html>

