@model Medicine

<h2>Add Medicine</h2>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<form asp-action="AddMedicine" method="post">

    <div class="form-group">
        <label>Medicine Name</label>
        <input asp-for="MedicineName" class="form-control" />
    </div>

    <div class="form-group">
        <label>Description</label>
        <input asp-for="Description" class="form-control" />
    </div>

    <div class="form-group">
        <label>Medicine Type</label>
        <select asp-for="MedicineTypeId"
                asp-items="ViewBag.MedicineTypes"
                class="form-control">
            <option value="">-- Select Type --</option>
        </select>
    </div>

    <div class="form-group">
        <label>Price</label>
        <input asp-for="Price" class="form-control" />
    </div>

    <div class="form-group">
        <label>Stock</label>
        <input asp-for="QuantityStock" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mt-2">Save</button>
</form>
