@{
    ViewBag.Title = "Pharmacist Dashboard";
}

<h2>Pharmacist Dashboard</h2>

<div class="row mt-4">

    <div class="col-md-4">
        <a href="/Pharmacist/AddMedicine" class="btn btn-primary w-100 mb-3">
            Add Medicine
        </a>
    </div>

    <div class="col-md-4">
        <a href="/Pharmacist/ViewMedicines" class="btn btn-success w-100 mb-3">
            View Medicines
        </a>
    </div>

    <div class="col-md-4">
        <a href="/Pharmacist/CreateBill" class="btn btn-warning w-100 mb-3">
            Create Pharmacy Bill
        </a>
    </div>

    <div class="col-md-4">
        <a href="/Pharmacist/ViewBills" class="btn btn-info w-100 mb-3">
            View Bills
        </a>
    </div>

</div>