<h2>Pharmacist Dashboard</h2>
@{
    Layout = "~/Views/Shared/PharmacistNav.cshtml";
}
<div class="list-group">

    <a asp-action="AddMedicineType" class="list-group-item list-group-item-action">
        Add Medicine Type
    </a>

    <a asp-action="MedicineTypeList" class="list-group-item list-group-item-action">
        View Medicine Types
    </a>

    <a asp-action="AddMedicine" class="list-group-item list-group-item-action">
        Add Medicine
    </a>

    <a asp-action="ViewMedicines" class="list-group-item list-group-item-action">
        View Medicines
    </a>

    <a asp-action="CreateBill" class="list-group-item list-group-item-action">
        Create Pharmacy Bill
    </a>

</div>
