@model IEnumerable<ClinicManagementSystem.Models.Medicine>

<h2>Medicine List</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Price</th>
            <th>Stock</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MedicineName</td>
                <td>@item.MedicineType?.TypeName</td>
                <td>@item.Price</td>
                <td>@item.QuantityStock</td>
            </tr>
        }
    </tbody>
</table>